<app-message-send></app-message-send>
<div class="row">
  <div class="col">
    <div class="list-group">
      <div class="list-group-item" *ngFor="let item of messages | reverse">

        <div [ngClass]="user === item.name ? 'me': 'other'">
          <div [@list]="fadeIn">
            <app-message-item [message]="item"></app-message-item>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


